In [1]:
import itertools
import numpy
import pandas
from sqlalchemy import create_engine

In [2]:
dbpath = "Fields.db"
engine = create_engine("sqlite:///{}".format(dbpath))
select_sql = "select * from Field limit 4;"
with engine.connect() as conn, conn.begin():
    data = pandas.read_sql_query(select_sql, conn)

In [28]:
airmass = numpy.array([1.1, 1.5, 2.5, 1.3])

,fieldId,fieldFov,fieldRA,fieldDEC,fieldGL,fieldGB,fieldEL,fieldEB
0,1,3.5,0.000000,-90.000000,-57.068082,-27.128251,-89.931210,-66.561358
1,2,3.5,180.000000,-87.568555,-57.663825,-24.756541,-96.024547,-66.442665
2,3,3.5,324.000429,-87.568550,-54.980423,-28.712449,-85.262622,-65.058907
3,4,3.5,35.999571,-87.568550,-58.164147,-29.359810,-84.695237,-67.907706

In [3]:
field_id = data.ix[:, 0]
filters = 'u,g,r'.split(',')

In [17]:
id_filt = pandas.DataFrame(list(itertools.product(field_id, filters)), columns=['fieldId', 'bandFilter'])
id_filt.sort_values("bandFilter", inplace=True)
id_filt

    fieldId bandFilter
1         1          g
4         2          g
7         3          g
10        4          g
2         1          r
5         2          r
8         3          r
11        4          r
0         1          u
3         2          u
6         3          u
9         4          u

In [19]:
data.merge(id_filt)

,fieldId,fieldFov,fieldRA,fieldDEC,fieldGL,fieldGB,fieldEL,fieldEB,bandFilter
0,1,3.5,0.000000,-90.000000,-57.068082,-27.128251,-89.931210,-66.561358,g
1,1,3.5,0.000000,-90.000000,-57.068082,-27.128251,-89.931210,-66.561358,r
2,1,3.5,0.000000,-90.000000,-57.068082,-27.128251,-89.931210,-66.561358,u
3,2,3.5,180.000000,-87.568555,-57.663825,-24.756541,-96.024547,-66.442665,g
4,2,3.5,180.000000,-87.568555,-57.663825,-24.756541,-96.024547,-66.442665,r
5,2,3.5,180.000000,-87.568555,-57.663825,-24.756541,-96.024547,-66.442665,u
6,3,3.5,324.000429,-87.568550,-54.980423,-28.712449,-85.262622,-65.058907,g
7,3,3.5,324.000429,-87.568550,-54.980423,-28.712449,-85.262622,-65.058907,r
8,3,3.5,324.000429,-87.568550,-54.980423,-28.712449,-85.262622,-65.058907,u
9,4,3.5,35.999571,-87.568550,-58.164147,-29.359810,-84.695237,-67.907706,g
10,4,3.5,35.999571,-87.568550,-58.164147,-29.359810,-84.695237,-67.907706,r
11,4,3.5,35.999571,-87.568550,-58.164147,-29.359810,-84.695237,-67.907706,u

In [27]:
data.keys()

Index([u'fieldId', u'fieldFov', u'fieldRA', u'fieldDEC', u'fieldGL',
       u'fieldGB', u'fieldEL', u'fieldEB'],
      dtype='object')

In [1]:
import numpy
sb = {'u': numpy.array([17.0, 17.0, 16.0, 18.0]), 
      'g': numpy.array([21.0, 21.0, 20.1, 21.5]), 
      'r': numpy.array([22.0, 22.0, 21.8, 22.4])}

In [12]:
sb_df = pandas.DataFrame.from_dict(sb, columns=['bandFilter', 'skyBrightness'])
sb_df

TypeError: from_dict() got an unexpected keyword argument 'columns'