In [1]:
import pandas as pd
import numpy as np

In [5]:
df1 = pd.DataFrame({"fieldId": np.arange(7,17), "filter": ['z'] * 5 + ['y'] * 5})

In [6]:
df1

   fieldId filter
0        7      z
1        8      z
2        9      z
3       10      z
4       11      z
5       12      y
6       13      y
7       14      y
8       15      y
9       16      y

In [17]:
df2 = pd.DataFrame({"fieldId": np.arange(7,17), "filter": ['z'] * 5 + ['y'] * 5})
df2.iat[5, 1] = 'u'

In [18]:
df2

   fieldId filter
0        7      z
1        8      z
2        9      z
3       10      z
4       11      z
5       12      u
6       13      y
7       14      y
8       15      y
9       16      y

In [19]:
c = df1 == df2

In [20]:
c

  fieldId filter
0    True   True
1    True   True
2    True   True
3    True   True
4    True   True
5    True  False
6    True   True
7    True   True
8    True   True
9    True   True

In [37]:
c.all(0)[1]

False

In [32]:
c.loc[~c['filter']]

  fieldId filter
5    True  False